[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sqlalchemy = "*"
pandas = "*"
tika = "*"
pick = "*"
tally = {editable = true, path = "."}
pytest-env = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"
sqlalchemy-stubs = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
alembic = "*"

[requires]
python_version = "3.8"
